

/*ESTILIZAÇÃO GERAL DA PÁGINA------------------------------------------------------*/

body{

    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333333;
}



/*CABEÇALHO-----------------------------------------------------------------------*/

#topo{

    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 40px;
}

#topo h1{

    font-size: 40px;
    margin-bottom: 10px;
}

#topo p{
    font-size: 20px;
}


/*menu-------------------------------------------------------------------------------*/

.menu a{
    background-color: #222;
    padding: 18px;
    text-align: center;
}
   
    
.menu a:hover{
    color: yellow;
}

/* CONTEUDO------------------------------------------------------------------------*/

main{

    width: 80%;
    margin: auto;
   
}
/*CARDS---------------------------------------------------------------------------*/

.card{
    background-color: white;
    margin-top: 30px;
    padding: 25px;
    border-radius: 15PX;
    text-align: center;
    border: 1px solid #cccccc
}
/*IMAGEM--------------------------------------------------------------------*/
.card img{

    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #0d6efd;
}

/* TITULO DO CARD-----------------------------------------------------------------*/

#titulo-card{
    color: #0d6efd;
    font-size: 30px;
}

.card p{
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    
}

/*BOTÂO-----------------------------------------------------------------------------*/


.botao{
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;

}

.botao:hover{
    background-color: #7fae1a;

}

/*INFORMAÇÔES----------------------------------------------------------------*/

.informacoes{

    background-color: white;
    margin-top: 30px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #cccccc;

}

.informacoes h2{

    color: #0d6efd;
}

.informacoes ul{
    font-size: 18px;
}
.informacoes li{
    margin-bottom: 10px;

}

/*RODAPÉ-----------------------------------------------------------------------*/


footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}